.container {
  top: 25%;
}

.animationWrapper {
  margin-left: var(--space-big);
}

.title {
  max-width: 400px;

  * {
    max-width: 100%;
  }
}

.subtitle {
  margin: auto auto var(--space-more) 200px;
}

// .bannerButton {
//   border: 1px solid var(--template-nav-bg-color);
//   color: var(--template-nav-bg-color);
//   background: transparent;
//   transition: background 0.45s ease-in, border 0.45s ease-in;
//   line-height: 36px;
//   font-size: 16px;
//   height: 36px;
//   & span {
//     text-shadow: 0 0 0 rgba(0, 0, 0, 0);
//     transition: text-shadow 0.45s ease-out;
//   }
//   &:hover {
//     color: #fff;
//     border-color: var(--primary-color);
//     background: var(--primary-color);
//     transition: background 0.45s ease-out, border 0.45s ease-out;
//     & span {
//       text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
//     }
//   }
// }
