:root {
  --brainup-color-primary: #485d78;
  --brainup-color-secondary: #e4be3a;
}

.container {
  // position: relative;
  top: 25%;
  // height: 100%;
  // max-width: 1200px;
  // position: relative;
  // margin: auto;
  // will-change: transform;
}

.animationWrapper {
  // display: inline-block;
  // font-size: 14px;
  // color: var(--template-text-color-light);
  // width: 400px;
  // text-align: left;
  margin-left: var(--space-big);
}

.title {
  max-width: 400px;
  // left: 0;
  // margin: auto;
  // position: relative;
  // font-size: 56px;
  // font-family: 'Nunito';
  // font-weight: 900;
  // text-transform: uppercase;
  * {
    max-width: 100%;
  }
}

.subtitle {
  word-wrap: break-word;
  margin: auto auto 20px;
  font-weight: lighter;
  color: var(--template-nav-bg-color);
  font-size: 20px;
  font-family: 'Nunito';
}

.bannerButton {
  border: 1px solid var(--template-nav-bg-color);
  color: var(--template-nav-bg-color);
  background: transparent;
  transition: background 0.45s ease-in, border 0.45s ease-in;
  line-height: 36px;
  font-size: 16px;
  height: 36px;
  & span {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: text-shadow 0.45s ease-out;
  }
  &:hover {
    color: #fff;
    border-color: var(--primary-color);
    background: var(--primary-color);
    transition: background 0.45s ease-out, border 0.45s ease-out;
    & span {
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
    }
  }
}
