:global(:root) {
  --color-white: #ffffff;

  --color-brand-50: #ebf5fa;
  --color-brand-200: #017ace;
  --color-brand-600: #084e8a;
  --color-brand-900: #001429;

  --color-grey-50: #f9fafc;
  --color-grey-100: #eff2f7;
  --color-grey-300: #e0e6ed;
  --color-grey-500: #c0ccda;
  --color-grey-600: #6f8096;
  --color-grey-700: #3c4858;
  --color-grey-800: #273444;
  --color-grey-900: #1f2d3d;

  --color-green-50: #dbedd5;
  --color-green-200: #50b83c;
  --color-green-600: #108043;
  --color-green-900: #173630;

  --color-yellow-50: #ffeebf;
  --color-yellow-200: #eec200;
  --color-yellow-600: #9c6f19;
  --color-yellow-900: #573b01;

  --color-red-50: #f8d0c8;
  --color-red-200: #ed4747;
  --color-red-600: #bf0710;
  --color-red-900: #330001;

  --color-purple-50: #f4f5fa;
  --color-purple-200: #5c6ac4;
  --color-purple-600: #202e78;
  --color-purple-900: #000639;

  // SHADOW COLORS
  --shadow-haze-color: rgba(31, 45, 61, 0.4);
  --shadow-cover-color: rgba(255, 255, 255, 0.98);
}

:root {
  --color-white: #ffffff;

  --color-brand-50: #ebf5fa;
  --color-brand-200: #017ace;
  --color-brand-600: #084e8a;
  --color-brand-900: #001429;

  --color-grey-50: #f9fafc;
  --color-grey-100: #eff2f7;
  --color-grey-300: #e0e6ed;
  --color-grey-500: #c0ccda;
  --color-grey-600: #6f8096;
  --color-grey-700: #3c4858;
  --color-grey-800: #273444;
  --color-grey-900: #1f2d3d;

  --color-green-50: #dbedd5;
  --color-green-200: #50b83c;
  --color-green-600: #108043;
  --color-green-900: #173630;

  --color-yellow-50: #ffeebf;
  --color-yellow-200: #eec200;
  --color-yellow-600: #9c6f19;
  --color-yellow-900: #573b01;

  --color-red-50: #f8d0c8;
  --color-red-200: #ed4747;
  --color-red-600: #bf0710;
  --color-red-900: #330001;

  --color-purple-50: #f4f5fa;
  --color-purple-200: #5c6ac4;
  --color-purple-600: #202e78;
  --color-purple-900: #000639;

  // SHADOW COLORS
  --shadow-haze-color: rgba(31, 45, 61, 0.4);
  --shadow-cover-color: rgba(255, 255, 255, 0.98);
}
