:global(:root) {
  --space-tiny: 4px;
  --space-small: 8px;
  --space-less: 12px;
  --space-default: 16px;
  --space-more: 24px;
  --space-big: 40px;
  --space-huge: 64px;

  --border-radius-default: 4px;
}

:root {
  --space-tiny: 4px;
  --space-small: 8px;
  --space-less: 12px;
  --space-default: 16px;
  --space-more: 24px;
  --space-big: 40px;
  --space-huge: 64px;

  --border-radius-default: 4px;
}
