.container {
  padding: 0 var(--space-default);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionIcon {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
  vertical-align: middle !important;

  margin-left: var(--space-default);

  &:hover {
    color: var(--color-brand-600);
  }
}
