.container {
  min-height: 280px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position-y: bottom;
  background-position-x: 8px;
}

.mapContainer {
  border: 0;
  width: 100%;
  height: 450px;

  margin-bottom: var(--space-default);
}

.textWrapper {
  text-align: center;
  margin: var(--space-default) 0;
}

.title {
  margin-bottom: var(--space-less);
}

.contactText {
  margin-bottom: var(--space-tiny);
}

.contactIcon {
  margin-right: var(--space-small);
}
